body {
    background-color:#05040A;
    font-family: 'Comfortaa', cursive;
    color: #D2CCE5;
    box-sizing: border-box;
    margin: 0;
}
header {
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: fixed;
    background: #05040A;
}
nav {
    display: flex;
    min-width: 50%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
nav a {
    color: #D2CCE5 ;
    text-decoration: none;
    font-weight: 300;
}
nav a:hover {
    color: #b225ce;
    transition: .5s;
}
.nav-inicio {
    color: #5732c4;
    font-size: 18px;
    font-weight: 700;
}
.inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contenedor-inicio {
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.contenedor-inicio h1 {
    padding-top: 10px;
}
.contenedor-inicio h2 {
    color: #5732c4;
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 10px;
}
.img-border {
    border-image-slice: 1;
    background:linear-gradient(90deg, rgba(87,50,196,1) 15%, rgba(178,37,206,1) 64%) ;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    padding: 3px;
}
.img-perfil {
    width: 240px;
    height: 240px;
    padding: 0px;
    border-radius: 50%;
}
.fav-btn {
    background: linear-gradient(90deg, rgba(87,50,196,1) 15%, rgba(178,37,206,1) 64%);
    width: 120px;
    height: 30px;
    border-radius: 6px;
    font-size: 16px;
    color: #d2cce5;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    border: none;
    text-decoration: none;
    padding-top: 12px;
}
.fav-btn:hover {
    background:#05040A;
    border: 1px solid ;
    transition: 0.5s;
}
.sobre-mi {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 50px;
}
.sobre-mi h2 {
    color: #5732c4;
}
.contenedor-sobre-mi {
    max-width: 90%;
}
.contenedor-sobre-mi p a {
    color: #b225ce;
}
.contenedor-sobre-mi p {
    padding-bottom: 16px;
}
.contenedor-certificados {
    width: 90%;
}
.contenedor-certificados li a {
    color: #b225ce;
}
.contenedor-certificados ul {
    margin: 0;
    padding: 17px;
    line-height: 25px;
}
.proyectos {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 50px;
    margin-top: 50px;
    padding-right: 50px;
}
.contendedor-proyectos {
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}
.proyectos h2 {
    color: #5732c4;
}
.module-border-wrap {
    width: 200px;
    height: 300px;
    padding: 3px;
    border-image-slice: 1;
    background:linear-gradient(90deg, rgba(87,50,196,1) 15%, rgba(178,37,206,1) 64%) ;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}
.module {
    background: #05040A;
    width: 200px;
    height: 300px;
    border-radius: 5px;
}
.img-proyecto img {
    width: 175px;
    height: 120px ;
    margin-left: 12px;
    margin-top: 12px;
}
.module h4 {
    text-align: center;
}
.contenedor-titulo-proyecto {
    width: 175px;
    height: 65px;
    margin-left: 10px;
}
a img {
    width: 65px;
    height: 25px;
    margin-left: 65px;
    margin-bottom: 6px;
}
.url-proyecto {
    margin-left: 40px;
}
@media  only screen and (max-width: 768px) {
    nav {
        width: 100%;
    }
    
}